fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.30
pymysql==1.1.1
cryptography==42.0.8
joblib==1.4.2
scikit-learn==1.6.1
tokenizers>=0.15.0
transformers==4.41.0
torch==2.5.1
python-dotenv==1.0.1
python-multipart==0.0.9
numpy==1.26.4
